body{
    margin:0;
    overflow:hidden;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial, sans-serif;
}

canvas{
    border:2px solid white;
    background:#050505;
    box-shadow:0 0 25px rgba(255,255,255,.2);
}